# Function Tasks 


Welcome Recruit! Let's see if you can solve these word problems by creating functions. The function "skeleton" has been set up for you to fill in below the problem description, as well as example outputs of what the function should return given certain inputs. Best of luck, some of these will be challenging! 

The tasks will start off easy and proceed to get harder and harder.

## Task 1

** Create a function that takes in two integers and returns True if their sum is 10, False if their sum is something else. **

In [ ]:
def check_ten(n1,n2):
    # Code Here

### My attempt at Task #1:

In [3]:
def check_ten(n1,n2):
    if n1 + n2 == 10:
        return True
    if n1 + n2 != 10:
        return False

In [6]:
result = check_ten(8,2)

In [7]:
result

True

In [ ]:
# Example Inputs and Outputs:

In [2]:
check_ten(10,0)

True

In [3]:
check_ten(5,5)

True

In [4]:
check_ten(2,7)

False

## Task 2

** Create a function that takes in two integers and returns True if their sum is 10, otherwise, return the actual sum value. **

In [5]:
def check_ten_sum(n1,n2):
    # Code Here

## My attempt at Task #2

In [8]:
def check_ten_sum(n1,n2):
    if n1 + n2 == 10:
        return True
    if n1 + n2 != 10:
        return n1+n2

In [10]:
check_ten_sum(2,8)

True

In [33]:
check_ten_sum(2,7)

9

In [ ]:
# Example Inputs and Outputs:

In [8]:
check_ten_sum(10,0)

True

In [9]:
check_ten_sum(2,7)

9

## Task 3

Create a function that takes in a string and returns back the first character of that string in upper case.

In [ ]:
def first_upper(mystring):
    # Code Here

### My attempt at Task #3, which I peaked at the solution for a little help:

In [22]:
def first_upper(mystring):
    mystring = mystring[0].upper()
    return mystring

In [23]:
output = 'asdfghjkl'
first_upper(output)

'A'

In [34]:
first_upper('agent')

'A'

In [ ]:
# Example Inputs and Outputs:

In [11]:
first_upper('hello')

'H'

In [12]:
first_upper('agent')

'A'

## Task 4

**Create a function that takes in a string and returns the last two characters. If there are less than two chracters, return the string:  "Error". [Use this link if you need help/hint.](https://stackoverflow.com/questions/7983820/get-the-last-4-characters-of-a-string)**

In [19]:
def last_two(mystring):
    # Code Here

### Mya attempt at Task #4

In [43]:
def last_two(mystring):
    variable = mystring[-5:]
    if len(variable) < 5:
        print("Error!")
    else:
        print(variable)

In [44]:
last_two('Harotek')

rotek

In [46]:
last_two('Dani')

Error!

In [3]:
# Example Inputs and Outputs:

In [20]:
last_two('hello')

'lo'

In [21]:
last_two('hi')

'hi'

In [22]:
last_two('a')

'Error'

## Task 5

** Given a list of integers, return True if the sequence [1,2,3] is somewhere in the list. Hint: Use slicing and a for loop. **

### Daniel's first attempt:

In [55]:
def seq_check(nums):
    sequence = [1,2,3]
    if sequence in nums:
        print("It's included")  
    else:
        print("Not included")

In [57]:
seq_check([1,2,3])

Not included

### Daniel's second attempt:

In [96]:
def seq_check(nums):
    original_list = [1,2,3]
    sequence = str(original_list)
    sequence = ''.join(sequence)
    print(sequence)
    for _ in nums:
        if sequence == True:
            print("It's included!")  
        else:
            print("Not included!")

In [97]:
seq_check([7,7,7,1,2,3,7,7,7])

[1, 2, 3]
Not included!
Not included!
Not included!
Not included!
Not included!
Not included!
Not included!
Not included!
Not included!

# Daniel's third attempt (success!):

In [113]:
def seq_check(nums):
    original_list = [1, 2, 3]
    orig_as_string = ''.join(map(str, original_list))
    sequence = ''.join(str(e) for e in nums) #
    if orig_as_string in sequence:
        print("It's included!")  
    else:
        print("Not included!")

In [114]:
result = seq_check([7,7,7,1,2,3,7,7,7])

It's included!

In [116]:
seq_check([1,2,3])

It's included!

In [117]:
seq_check([3,2,1,3,2,1,1,1,2,2,3,3,3])

Not included!

In [118]:
seq_check([3,2,4,5,6,7,8,1,2,3,3])

It's included!

In [4]:
# Example Inputs and Outputs:

In [2]:
seq_check([1,2,3])

True

In [4]:
seq_check([7,7,7,1,2,3,7,7,7])

True

In [5]:
seq_check([3,2,1,3,2,1,1,1,2,2,3,3,3])

False

## Task 6

** Given 2 strings, create a function that returns the difference in length between them. This difference in length should always be a positive number (or just 0). Hint: Absolute Value.**

In [27]:
def compare_len(s1,s2):
    # Code Here

# Daniel's first attempt:

In [131]:
def compare_len(s1,s2):
    s1_len = abs(len(s1))
    s2_len = abs(len(s2))
    print(s1_len,s2_len)
    if s2_len == s2_len:
        print("They are the same length!")
    else:
        print("Sorry, not the same length. Try again.")

In [132]:
compare_len('aa','aa')

2 2
They are the same length!

In [133]:
compare_len('a','bb')

1 2
They are the same length!

# Daniel's second attempt:

In [154]:
def compare_len(s1,s2):
    s1_len = abs(len(s1))
    s2_len = abs(len(s2))
    print("The length of the first string is {}. And the length of the second string is {}".format(s1_len,s2_len))
    if s2_len > s1_len:        
        print("The difference is {}.".format(s2_len-s1_len))
    elif s2_len < s1_len:
        print("The difference is {}.".format(s1_len-s2_len))
    elif s2_len == s1_len:
        print('The difference is 0.')

In [155]:
compare_len('aa','aa')

The length of the first string is 2. And the length of the second string is 2
The difference is 0.

In [156]:
compare_len('auiseafr','129764')

The length of the first string is 8. And the length of the second string is 6
The difference is 2.

In [5]:
# Example Inputs and Outputs:

In [28]:
compare_len('aa','aa')

0

In [29]:
compare_len('a','bb')

1

In [30]:
compare_len('bb','a')

1

## Task 7

** Given a list of integers, if the length of the list is an even number, return the sum of the list. If the length of the list is odd, return the max value in that list. **

In [33]:
def sum_or_max(mylist):
    
    # Code Here

# Daniel's first attempt:

In [167]:
def sum_or_max(mylist2):
    sum_of_all_numbers = sum(mylist2)
    if sum_of_all_numbers % 2 == 0:
        print("Yup! The sum is even. The sum is: {}.".format(sum_of_all_numbers))
    else:
        print("Nope! The sum is not an even number. Instead, the max number is {}.".format(max(mylist2)))

In [168]:
sum_or_max([0,1,2,3,1])

Nope! The sum is not an even number. Instead, the max number is 3.

In [169]:
sum_or_max([0,1,2,3])

Yup! The sum is even. The sum is: 6.

In [6]:
# Example Inputs and Outputs:

In [34]:
sum_or_max([1,2,3])

3

In [35]:
sum_or_max([0,1,2,3])

6

## Task 8

** Agents in the field sometimes need to speak in code. Create a function that takes in a string name (e.g. "James", "Cindy", etc...) and replaces all vowels with the letter x. For our purposes, consider these letters as vowels: [a,e,i,o,u]). Then switch the position of the first and last letters.  **

**This task is challenging, break it down into multiple pieces. **

In [41]:
def replace_and_switch(name):
    
    # Code Here

In [7]:
# Example Inputs and Outputs:

In [42]:
replace_and_switch('James')

'sxmxJ'

In [43]:
replace_and_switch('Cindy')

'yxndC'

In [44]:
replace_and_switch("Alfred")

'dlfrxx'

Excellent work recruit! Later on you will be able to combine multiple functions to create large working pieces of code that accomplish complex tasks!